<!--Template used in people's bag template page 
    allow player to sell the weapon
-->

<article class="item" id="{{item}}">
	<p class="weapon-name">
		{{item}}
	</p>
	<p class="price">
		Price: ${{price}}
	</p>
	<img src="{{photoURL}}" class="picture"> <!--The picture of the item-->
	<p class="count">
		Cout: {{count}}
	</p>
	<button class="sell">Sell</button>
</article>
