<<<<<<< HEAD
<!--Single weapon template models
	used for DealerPage to allow 
	player to buy weapons.
-->                  
                    
<article class="item" id="{{name}}">
	<p class="weapon-name">
		{{name}}
	</p>
	<p class="price">
		Price: ${{price}}
	</p>
	<img src="{{photoURL}}" class="picture"> <!--The picture of the item-->
	<button class="buy">Buy</button>
</article>
=======
<!--Single weapon template models-->

                    	<article class="item" id="{{name}}">
							<p class="weapon-name">
								{{name}}
							</p>
							<p class="price">
								Price: ${{price}}
							</p>
							<img src="{{photoURL}}" class="picture"> <!--The picture of the item-->
							<button class="buy">Buy</button>
						</article>
>>>>>>> 201bdceb31431fda2da1f167d517cd6855141249
